extends ../layouts/common.pug

block content

  h1 This is a list users.
  .mt-4
    a(href="/users/create" class="btn btn-info mb-4") New user
    form( action="/users/search", method="GET")
      .form-group
        .input-group
          .input-group-prepend
            span(class="input-group-text") Name
          input(type="text", class="form-control", name="q", value=queryInput)
          button(class="btn btn-outline-secondary") Search
  ul
    each user in users
      li(class="mb-2")
        span= user.name 
        span &nbsp
        a(href="/users/" + user.id, class="btn btn-outline-success btn-sm") Infor
